{% load static %} # in this way load static file in django
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
{% comment %} for loop in django  {% endcomment %}
    {% for n in list%}
    <div>{{ forloop.counter0}} {{n}}</div>
    {% endfor %}
<br/>
    <table border='1'cellpadding='10'>
        <tr>
            <th>name</th>
            <th>phone</th>
        </tr>
        {%for d in student_details%}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.phone}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>




{% comment %} if statment in django {% endcomment %}

    {%if number|length > 0 %}
       {% for k in number%}
      
       {% if k > 3 %}
       <div>{{k}}</div>

       {%endif%}


      {% endfor %}
      {% else %}
      no data 
      {% endif %}
    
      
</body>
</html>